
.metadata
.project
.pydevproject
.settings
.classpath
.project
.checkstyle
.pmd
.settings/
orb.db/
test-output/
deploy/
target/
build/
bin/
__pycache__/
*.pyc
webclient/
gwt-unitCache/
MANIFEST.MF
*.iws
*.ipr
*.iml
.idea/
pom.xml.releaseBackup
release.properties
infinitest.filters

lat-core/lat-core-job-engine/lat-core-job-engine.PNG
lat-core/lat-core-job-engine/lat-core-job-service.PNG
lat-core/lat-core-client/.gwt/.gwt-log
*.log
*.orig
desktop.ini
*.ucls
genericconn.PNG
dependency-reduced-pom.xml